.inputs-items-container {
  width: 600px;
  margin: 20px auto;
  .inputs-items-inner-wrapper {
    padding: 15px;
  }
}

.items-wrapper {
  margin-top: 15px;
  // pointer-events: none;
}

li {
  list-style: none;
}

.inputs {
  display: flex;
  margin: 0;
  padding: 0;

  & > li:first-child {
    flex: 6 6;
    padding: 0 20px;
  }
  & > li:last-child {
    flex: 1 1;
    cursor: pointer;
  }
}

.item {
  display: flex;
  margin: 0;
  padding: 0;
  li {
    flex: 6 6;
    // padding: 15px 3px;

    text-align: center;
  }
  li:first-child {
    flex: 1 1;
    cursor: pointer;
  }
  li:last-child {
    flex: 1 1;
    cursor: pointer;
    padding-top: 8px;
    & * {
      pointer-events: none;
    }
  }
}

.checked {
  text-decoration: line-through;
}
