.inputs-items-container {
  width: 600px;
  margin: 20px auto;
  .inputs-items-inner-wrapper {
    padding: 15px;
  }
}

.items-wrapper {
  margin-top: 15px;
}

li {
  list-style: none;
}

.inputs {
  display: flex;
  margin: 0;
  padding: 0;

  & > li:first-child {
    flex: 4 4;
  }
  & > li:last-child {
    flex: 1 1;
    cursor: pointer;
    // & * {
    //   pointer-events: none;
    // }
  }
}

.item {
  display: flex;
  margin: 0;
  padding: 0;
  & > li {
    flex: 2 2;
    padding: 3px;
    & * {
      pointer-events: none;
    }
  }
  & > li:first-child {
    flex: 4 4;
    cursor: pointer;
  }
  & > li:last-child {
    flex: 1 1;
    cursor: pointer;
  }
}
