// Main centered block container
.inputs-items-container {
  width: 600px;
  margin: 20px auto;
  .inputs-items-inner-wrapper {
    padding: 15px;
  }
}

// List's of tasks wrapper
.items-wrapper {
  margin-top: 15px;
}

li {
  list-style: none;
}

// Block of inputs
.inputs {
  display: flex;
  margin: 0;
  padding: 0;

  & > li:first-child {
    flex: 6 6;
    padding: 0 20px;
  }
  & > li:last-child {
    flex: 1 1;
    cursor: pointer;
  }
}
// Block of items
.item {
  display: flex;
  margin: 0;
  padding: 0;
  li {
    flex: 6 6;
    text-align: center;
  }
  li:first-child {
    flex: 1 1;
    cursor: pointer;
  }
  li:last-child {
    flex: 1 1;
    cursor: pointer;
    padding-top: 8px;
    & * {
      pointer-events: none;
    }
  }
}
// In case of item checked, add class
.checked {
  text-decoration: line-through;
}
